title: HHS Flu Vaccination Data
author: Dan McClary
date: 11-10-2015
headline: Loading JSON Data

{% extends "post.html" %}
{% block body %}
  <div tabindex="-1" id="notebook" class="border-box-sizing">
    <div class="container" id="notebook-container">

<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="Loading-HHS-Flu-Vaccination-JSON-Data">Loading HHS Flu Vaccination JSON Data<a class="anchor-link" href="#Loading-HHS-Flu-Vaccination-JSON-Data">&#182;</a></h1>
</div>
</div>
</div>

<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Sometimes data is already in a handy document store for us. JSON (JavaScript Object Notation) data is in the form of a list of objects composed of a set of key-value pairs. </p>
<p>In this exercise, we&#39;ll use basic python and the cx-Oracle to pull Flu Vaccination Data from HHS.gov and store it in a table in our database. The data and API are provided by the <a href="http://flu-vaccination-map.hhs.gov/">US HHS</a>.  Since the data we want is already in JSON format, we won&#39;t need to do much parsing, we&#39;ll mostly just &quot;dump&quot; it into the database. As usual, we begin by importing the libraries we&#39;ll need.</p>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">
In&nbsp;[]:
</div>
<div class="inner_cell">
    <div class="input_area">
<div class="highlight"><pre><span class="kn">import</span> <span class="nn">sys</span>
<span class="kn">import</span> <span class="nn">cx_Oracle</span>
<span class="kn">import</span> <span class="nn">pprint</span>
<span class="kn">import</span> <span class="nn">re</span>
<span class="kn">import</span> <span class="nn">string</span>
<span class="kn">import</span> <span class="nn">json</span>
<span class="kn">import</span> <span class="nn">urllib2</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>First thing we&#39;ll need to do is write a quick helper function to &quot;jsonify&quot; our data. This will turn our data into separate JSON strings and return them as a list of tuples. </p>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">
In&nbsp;[]:
</div>
<div class="inner_cell">
    <div class="input_area">
<div class="highlight"><pre><span class="k">def</span> <span class="nf">jsonify_data</span><span class="p">(</span><span class="n">d</span><span class="p">):</span>
  <span class="k">return</span><span class="p">(</span><span class="n">json</span><span class="o">.</span><span class="n">dumps</span><span class="p">(</span><span class="n">d</span><span class="p">),)</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>First, we&#39;ll need to connect to the database and make a table to store the data in.  Because the data we&#39;re collecting is JSON, we can save time by assigning the whole document to a single column.  For this exercise we&#39;ll just need one table, call it flu_shot_json with, one column, call it doc. We&#39;ll pull the &#39;results&#39; from our data, jsonify it, then insert it into our table in the doc column.</p>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">
In&nbsp;[]:
</div>
<div class="inner_cell">
    <div class="input_area">
<div class="highlight"><pre><span class="n">db</span> <span class="o">=</span> <span class="n">cx_Oracle</span><span class="o">.</span><span class="n">connect</span><span class="p">(</span><span class="s">&#39;fludb&#39;</span><span class="p">,</span> <span class="s">&#39;flushot&#39;</span><span class="p">,</span> <span class="s">&#39;localhost:1521/orcl&#39;</span><span class="p">)</span>
<span class="n">drop_table</span> <span class="o">=</span> <span class="s">&#39;drop table flu_shot_json&#39;</span>
<span class="n">ddl</span> <span class="o">=</span> <span class="s">&#39;create table flu_shot_json (doc varchar2(4000), CONSTRAINT &quot;ENSURE_JSON&quot; CHECK (doc IS JSON))&#39;</span>
<span class="n">cursor</span> <span class="o">=</span> <span class="n">db</span><span class="o">.</span><span class="n">cursor</span><span class="p">()</span>
<span class="k">try</span><span class="p">:</span>
  <span class="n">cursor</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="n">drop_table</span><span class="p">)</span>
<span class="k">except</span><span class="p">:</span>
  <span class="k">pass</span>
<span class="n">cursor</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="n">ddl</span><span class="p">)</span>
<span class="n">cursor</span><span class="o">.</span><span class="n">close</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>That&#39;s pretty much all the setup we need to do, so now we&#39;ll go ahead and create a <code>write to db</code> function. </p>
<p>As with most database operations, we need a cursor.  Don&#39;t forget to commit the inserts after they&#39;ve executed!</p>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">
In&nbsp;[]:
</div>
<div class="inner_cell">
    <div class="input_area">
<div class="highlight"><pre><span class="k">def</span> <span class="nf">write_to_db</span><span class="p">(</span><span class="n">db</span><span class="p">,</span> <span class="n">data</span><span class="p">):</span>
  <span class="n">cursor</span> <span class="o">=</span> <span class="n">db</span><span class="o">.</span><span class="n">cursor</span><span class="p">()</span>
  <span class="k">try</span><span class="p">:</span>
      <span class="n">cursor</span><span class="o">.</span><span class="n">prepare</span><span class="p">(</span><span class="s">&quot;INSERT INTO flu_shot_json(doc) VALUES (:1)&quot;</span><span class="p">)</span>
      <span class="n">cursor</span><span class="o">.</span><span class="n">executemany</span><span class="p">(</span><span class="bp">None</span><span class="p">,</span> <span class="nb">map</span><span class="p">(</span><span class="n">jsonify_data</span><span class="p">,</span> <span class="n">data</span><span class="p">[</span><span class="s">&#39;results&#39;</span><span class="p">]))</span>
      <span class="n">db</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span>
  <span class="k">except</span> <span class="ne">Exception</span> <span class="k">as</span> <span class="n">e</span><span class="p">:</span>
      <span class="k">print</span> <span class="n">e</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Now all we need to do is pull the data from HHS.gov and write it to the db. There are a number of ethnicities, so we need to collect all of them.</p>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">
In&nbsp;[]:
</div>
<div class="inner_cell">
    <div class="input_area">
<div class="highlight"><pre><span class="k">print</span> <span class="s">&quot;parsing dataset...&quot;</span>
<span class="k">for</span> <span class="n">eth</span> <span class="ow">in</span> <span class="p">[</span><span class="s">&quot;T&quot;</span><span class="p">,</span><span class="s">&quot;A&quot;</span><span class="p">,</span><span class="s">&quot;W&quot;</span><span class="p">,</span><span class="s">&quot;B&quot;</span><span class="p">,</span><span class="s">&quot;H&quot;</span><span class="p">]:</span>
  <span class="n">url</span> <span class="o">=</span> <span class="s">&quot;http://flu-vaccination-map.hhs.gov/api/v1/states.json?ethnicity=&quot;</span><span class="o">+</span><span class="n">eth</span><span class="o">+</span><span class="s">&quot;&amp;year=lte:2014&quot;</span>
  <span class="n">data</span> <span class="o">=</span> <span class="n">json</span><span class="o">.</span><span class="n">load</span><span class="p">(</span><span class="n">urllib2</span><span class="o">.</span><span class="n">urlopen</span><span class="p">(</span><span class="n">url</span><span class="p">))</span>
  <span class="k">print</span> <span class="s">&quot;writing to DB...&quot;</span>
  <span class="n">write_to_db</span><span class="p">(</span><span class="n">db</span><span class="p">,</span> <span class="n">data</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

</div>
    </div>
  </div>
{% endblock body %}
