{% extends "base.html" %}
{% block content %}

	<a id="docs" href="http://cactusformac.com/redirect/#documentation">Documentation</a>

	<section id="wrapper">
		<header id="header">
			<h2><b>How to use Data Science to impress your friends...</b></h2><br>
			<img class="title-pic" src="static/images/bigdataheaderimage.png" width:"100%">
		</header>

		<body>
			<br>
			<p>Hey there, you’ve reached the blog portion Big Data Science Bootcamp. You can find our series of corresponding lectures on Youtube <a href="">here.</a></p>

			<p>The goal of Bootcamp is to explain how to tell meaningful stories with data using best-of-breed tools. We’ll be using popular developer tools to treat tangible data problems from ingest to insight. No contrived examples here, our courses use real (publically available) data sets to teach skills to deal with data ingestion, quality, analysis, and visualization.</p>

			<p>Get started with one of our courses below! If you have questions along the way, be sure to check out our <a href="">Command Shortcuts Index</a> and <a href="">FAQ’s.</a></p>

		<ul id="chunk">
			<br>
			<h3><a href="flu_course.html">...when you've got the flu<a></h3>
			<h6>Bootcamp's stab at a study of flu epidemic data</h6>
		</ul>

		</body>

<!-- 		<ul id="post-list">
			{% for post in posts %}
				<li> 
					<a href='/{{ post.path }}'><aside class="dates">{{ post.date|date:"M j" }}</aside></a>
					<a href='/{{ post.path }}'>{{ post.title }} <h2>{{ post.headline }}</h2></a>
				</li>
			{% endfor %}
		</ul> -->

		

		{% block footer %}
		{% if posts|length >= 4 %}
			<footer id="post-list-footer">
				<p class="small">Big Data Science Bootcamp was created by Dan McClary and Althea Vail Wallop</p>
				<a id="archive-link" href="archive.html"> <span class="arrow">&larr;</span> Archive</a>
			</footer>
		{% endif %}

		{% endblock footer %}

	</section>



	<a href="http://cactusformac.com/?utm_source=templates&utm_medium=badge&utm_campaign=blog-template"><img id="badge" class="2x" src="{% static '/images/badge.png' %}"/></a>
	
{% endblock content %}
