{% extends "base.html" %}
{% block content %}

	<section id="wrapper">
		<header id="header">
			<h2><b>How to use Data Science to impress your friends...</b></h2><br>
			<img class="title-pic" src="static/images/bigdataheaderimage.png" width:"100%">
		</header>

		<body>
			<br>
			<p>Hey there, you’ve reached the blog textbook for the Big Data Science Bootcamp. You can find our series of corresponding lectures on YouTube <a href="">here.</a></p>

			<p>The goal of this workshop is to help you understand how find more answers through data.  Whether you're a complete beginner loading and querying data for the first time, or a seasoned pro looking for interesting datasets or examples using the latest Big Data tools, we hope there's something here for anyone with an interest in data. We'll treat tangible data problems starting from ingest to insight. </p>

			<p>  There are no contrived examples here, the workshop uses real (publically available) data sets to teach skills to deal with data ingestion, quality, analysis, and visualization.  Our initial exercises deal with a very real problem which inevitably impacts all of us: the Flu.  Because the data is real, not every result is significant, and not every question has an answer.  However, we believe these investigations leave room for the reader to explore the data on their own.  </p>

			<p>If you have questions along the way, be sure to check out the corresponding <a href="https://github.com/dwmclary/odsb2014">Github repo</a> and <a href="">FAQ’s.</a></p>

		<ul id="chunk">
			<br>
			<h3><a href="flu_course.html">...when you've got the flu<a></h3>
			<h6>Data Science and the Study of Flu Data</h6>
		</ul>

		</body>

		{% block footer %}
		{% if posts|length >= 4 %}
			<footer id="post-list-footer">
				<p class="small">Big Data Science Bootcamp was created by Dan McClary and Althea Vail Wallop</p>
				<a id="archive-link" href="archive.html"> <span class="arrow">&larr;</span> Archive</a>
			</footer>
		{% endif %}

		{% endblock footer %}

	</section>

	<a href="http://cactusformac.com/?utm_source=templates&utm_medium=badge&utm_campaign=blog-template"><img id="badge" class="2x" src="{% static '/images/badge.png' %}"/></a>
	
{% endblock content %}
