
{% extends "base.html" %}
{% block content %}


	<section id="wrapper">
		<header id="header">
			<h2><b>How to use Data Science to impress your friends...</b></h2><br>
			<a href='index.html'><img class="title-pic" src="static/images/bigdataheaderimage.png" width:"100%" h></a>
		</header>

		<body></br>
		<h2><b>Flu Course Part 3: Analyzing Big Data with Apache Spark</h2><br>
		<p>In this part of the workshop we'll learn how to use tools from Apache Spark to derive insight from big data. We'll work with text from the news to show how we can use data analysis to determine what news articles are about, and then we'll draw conclusions about the flu from those analyses.</p>
		

		<ul id="post-list">
			
			<li> 
				<a href='/posts/Part_3/basic_big_data.html'>Basic Big Data<h2>with PySpark</h2></a>
			</li>
				
			<li>
				<a href='posts/Part_3/moving_clustering_data.html'>Moving and Clustering Data<h2>with Sqoop and Spark</h2></a>
			</li>
				
			<li> 
				<a href='posts/Part_3/finding_important_words.html'>Finding Important Words <h2>with Spark</h2></a>
			</li>
			
			<li> 
				<a href='posts/Part_3/trend_search.html'>Trend Search <h2>with Big Data and SQL</h2></a>
			</li>
	
			<li>
				<a href='posts/Part_3/clustering_news.html'>Clustering the News<h2>with Spark and MLlib</h2></a>
			</li>
			<li>
				<a href='posts/Part_3/streaming_news_analysis.html'>Streaming News Analysis<h2>with Spark Streaming</h2></a>
			</li>
			
		</ul>


		</body>

			<footer id="footer">
				<p class="small">Big Data Science Bootcamp was created by Dan McClary and Althea Vail Wallop</p>
			</footer>
		
	</section>

	
{% endblock content %}
