<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}


	<section id="wrapper">
		<header id="header">
			<h2><b>How to use Data Science to impress your friends...</b></h2><br>
			<a href='index.html'><img class="title-pic" src="static/images/bigdataheaderimage.png" width:"100%" h></a>
		</header>

		<body></br>
		<h2><b>Flu Course Part 1: Loading Data</h2><br>
		<p>In this part of the workshop we'll learn how to load different types of text and web data into a database using Python and other tools.</p>
		

		<ul id="post-list">
			
			<li> <a href='posts/Part_1/WHO_US_Simple_CSV_Loading.html'>World Health Organization US Flu Data<h2>Learn to load and share CSV data</h2></a>
			</li>
				
			<li>
				<a href='posts/Part_1/WHO_CountryLevel_Flu_Data.html'>World Health Organization Country-Level Flu Data<h2>Learn to load and clean simple delimited data</h2></a>
			</li>
				
			<li> 
				<a href='posts/Part_1/HHS_Flu_Vaccination_Data.html'>HHS Flu Vaccination Data <h2>Learn to load JSON data</h2></a>
			</li>
				
			<li>
				<a href='posts/Part_1/OIE_Pathogenic_Flu.html'>OIE Pathogenic Flu Data<h2>Learn how to scrape embedded data from the web</h2></a>
			</li>

			<li>
				<a href='posts/Part_1/pandas_web_data.html'>Collecting Web Data With Pandas<h2>Learn how to search for useful data from around the world</h2></a>
			</li>


			
		</ul>


		</body>
			<footer id="footer">
				<p class="small">Big Data Science Bootcamp was created by Dan McClary and Althea Vail Wallop</p>
			</footer>
		
	</section>

	
{% endblock content %}
