<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}


	<section id="wrapper">
		<header id="header">
			<h2><b>How to use Data Science to impress your friends...</b></h2><br>
			<a href='index.html'><img class="title-pic" src="static/images/bigdataheaderimage.png" width:"100%" h></a>
		</header>

		<body></br>
		<h2><b>Flu Course Part 2: Analyzing and Visualizing Data</h2><br>
		<p>In this part of the workshop we'll learn basic summary statistics and visualization with SQL, hypothesis testing with SQL, Pandas and scipy, and linear modeling with SQL and scikit-learn. Since we gathered up all our data in the last part of the workshop, we'll use some questions to guide our data investigation.</p>
		

		<ul id="post-list">
			
			<li> 
				<a href='posts/Part_2/ethnicity_impact_vaccination.html'>Does Ethnicity Impact Vaccination Rates?<h2>Learn basic summary statistics, t-test and single-factor modeling, and visualization with SQL</h2></a>
			</li>

			<li> 
				<a href='posts/Part_2/vaccination_rates.html'>Do vaccination rates impact flu rates?<h2>Learn analytical SQL and linear modeling without interactions</h2></a>
			</li>

				
			<li>
				<a href='posts/Part_2/gdp_modeling.html'>Does GDP Explain Flu Rates?<h2>Learn hypothesis testing with SQL, Pandas and Scipy</h2></a>
			</li>
				
					
			<li>
				<a href='posts/Part_2/urban_flu.html'>Does Living in Cities Inflence Flu Rates?<h2>Learn two-factor linear modeling with interaction effects</h2></a>
			</li>

			<li>
				<a href='posts/Part_2/water_flu.html'>How Do Sanitation and Clean Water Impact Flu?<h2>Learn and logistic regression with SQL and Python</h2></a>
			</li>


			
		</ul>


		</body>

			<footer id="footer">
				<p class="small">Big Data Science Bootcamp was created by Dan McClary and Althea Vail Wallop</p>
			</footer>
		
	</section>

	
{% endblock content %}
